* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../src/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../src/fonts/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../src/fonts/NotoSans-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../src/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../src/fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup._open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup._open .popup__content {
  opacity: 1;
  -webkit-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  max-height: 80vh;
  min-height: 100px;
  width: 100%;
  padding: 40px;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  opacity: 0;
  -webkit-transform: scale(0) translate(0px, 100%);
          transform: scale(0) translate(0px, 100%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 600px) {
  .popup__content {
    padding: 20px;
  }
}
.popup__close {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 23px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.popup__close:hover {
  color: indianred;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.popup__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 35px;
}
@media (max-width: 375px) {
  .popup__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.popup__text-inner {
  margin-bottom: 20px;
}
.popup__text {
  font-size: 18px;
  color: #000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (any-hover: hover) {
  .popup__text:hover {
    color: #EF7B00;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

.popup-opener {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  color: #000000;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}
body._lock {
  overflow: hidden;
}

.container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

::-webkit-scrollbar {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 100%;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
}

.elipse-up {
  position: fixed;
  z-index: 99;
  bottom: 5%;
  right: 5%;
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EF7B00;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.elipse-up:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #db7100;
}
.elipse-up._active {
  opacity: 1;
  visibility: visible;
}
.elipse-up__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}
.elipse-up__elem {
  position: absolute;
  color: #fff;
  font-size: 24px;
}

.header {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header._header-fixed {
  position: fixed;
  -webkit-transition: position 0.3s ease-in;
  transition: position 0.3s ease-in;
}

.header__container {
  max-width: 1120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.top-header {
  background-color: #fff;
}
.top-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo:hover .header-logo__subtitle {
  color: #3992C5;
}
.header-logo__title {
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  line-height: 1.2;
}
.header-logo__subtitle {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #EF7B00;
}
@media (max-width: 479.98px) {
  .header-logo__title, .header-logo__subtitle {
    display: none;
  }
}
.header-logo__img {
  margin-right: 10px;
}

.top-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.top-menu__tel {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
@media (max-width: 1120px) {
  .top-menu__tel {
    font-size: calc(16px + 4 * ((100vw - 320px) / 800));
  }
}
.top-menu__tel::before {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #EF7B00;
  padding-right: 10px;
}
.top-menu__tel:hover::before {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #3992C5;
}
.top-menu__cart {
  margin-right: 35px;
  margin-left: 35px;
  background-color: transparent;
  position: relative;
}
@media (max-width: 1120px) {
  .top-menu__cart {
    margin-right: calc(15px + 20 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .top-menu__cart {
    margin-left: calc(10px + 25 * ((100vw - 320px) / 800));
  }
}
.top-menu__cart:hover::before, .top-menu__cart:hover::after {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #3992C5;
}
.top-menu__cart::before {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #EF7B00;
  font-size: 35px;
}
@media (max-width: 1120px) {
  .top-menu__cart::before {
    font-size: calc(30px + 5 * ((100vw - 320px) / 800));
  }
}
.top-menu__cart::after {
  content: attr(data-count);
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #EF7B00;
  font-size: 18px;
  font-weight: 700;
  padding-left: 2px;
  min-width: 25px;
  min-height: 25px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (max-width: 1120px) {
  .top-menu__cart::after {
    font-size: calc(16px + 2 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .top-menu__cart::after {
    min-width: calc(22px + 3 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .top-menu__cart::after {
    min-height: calc(22px + 3 * ((100vw - 320px) / 800));
  }
}
.top-menu__burger {
  display: none;
}

.header-footer {
  background-color: #E9E9E9;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.header-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header-footer .container {
  padding: 0;
}

.menu-nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-nav__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.menu-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (any-hover: hover) {
  .menu-nav__elem:hover .menu-nav__link {
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}
.menu-nav__elem._active-link {
  background-color: #EF7B00;
}
.menu-nav__elem._active-link .menu-nav__link {
  color: #fff;
}
@media (any-hover: hover) {
  .menu-nav__elem:hover {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #EF7B00;
    color: #fff;
  }
}

@media (max-width: 767.98px) {
  .menu-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 0 40px 0;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
    overflow: auto;
    z-index: 3;
  }
  .menu-nav__elem {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .menu-nav._burger-open {
    right: 0;
    -webkit-transition: right 0.4s ease-in;
    transition: right 0.4s ease-in;
  }

  .top-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
    height: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 5;
  }
  .top-menu__burger span {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #000000;
  }
  .top-menu__burger::before, .top-menu__burger::after {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #000000;
  }
  .top-menu__burger::before {
    top: 0;
  }
  .top-menu__burger::after {
    bottom: 0;
  }
  .top-menu__burger._burger-open span {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .top-menu__burger._burger-open::before {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    top: 43%;
  }
  .top-menu__burger._burger-open::after {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
    bottom: 50%;
  }

  .top-header {
    position: relative;
    z-index: 4;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
}
.popup-cart__cards {
  width: 100%;
  max-height: 210px;
  min-height: 150px;
  overflow-y: auto;
  padding: 5px 0;
}

.cart-cards__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}
.cart-cards__empty-text {
  font-size: 20px;
  color: #333;
  line-height: 1.2;
}
.cart-cards__item {
  width: 100%;
}
.cart-cards__item:not(:last-child) {
  margin-bottom: 15px;
}

.cart-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-card__image img {
  max-height: 200px;
  max-width: 120px;
}
.cart-card__info {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-card__info-header div:not(:last-child) {
  margin-bottom: 5px;
}
.cart-card__info-header div {
  line-height: 1.2;
}
.cart-card__info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
}
.cart-card__info-footer div:not(:last-child) {
  margin-right: 10px;
}

.info-header__title a {
  font-weight: 700;
  color: #000;
  font-size: 23px;
}
.info-header__price {
  font-size: 22px;
  color: #EE940F;
  font-weight: 700;
}
.info-header__details {
  font-size: 17px;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
}

.info-footer__cart-left {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.info-footer__func-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-footer__func-btn {
  color: #EE940F;
  background-color: transparent;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-right: 10px;
}
.info-footer__func-btn:last-child {
  margin-right: 0px;
}
@media (any-hover: hover) {
  .info-footer__func-btn:hover {
    cursor: pointer;
    color: #2980B1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

.popup-cart__footer {
  margin-top: 30px;
}

.cart-footer__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.cart-footer__total-title {
  font-size: 22px;
  font-weight: 800;
}
.cart-footer__total-price {
  font-size: 22px;
}
.cart-footer__buttons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart-footer__button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #2980B1;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}
.cart-footer__button:last-child {
  margin-right: 0px;
}
@media (any-hover: hover) {
  .cart-footer__button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #EE940F;
  }
}

@media (max-width: 600px) {
  .popup__content {
    padding: 20px;
  }

  .cart-card__info {
    padding-left: 15px;
  }
  .cart-card__info-footer {
    margin-top: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-card__info-footer div {
    margin-right: 0;
    line-height: 1.5;
  }
}
@media (max-width: 479.98px) {
  .cart-card__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-card__image img {
    max-height: 150px;
  }
  .cart-card__info-footer {
    margin-top: 0;
  }
  .cart-card__info-header {
    margin-top: 10px;
  }
  .cart-card__info {
    padding-left: 0px;
  }

  .info-header__title a {
    font-size: 20px;
  }
  .info-header__details {
    display: none;
  }
}
@media (max-width: 375px) {
  .cart-footer__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-footer__button {
    margin-right: 0px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart-footer__button:first-child {
    margin-top: 0px;
  }
}
/* <Form> ============================================================================== */
.cart-offer__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
.cart-offer__input {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.cart-offer__input:last-child {
  margin-bottom: 0px;
}
.cart-offer__input:focus {
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-color: #e2e2e2;
}
.cart-offer__input:hover {
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-color: #e2e2e2;
}
.cart-offer__button {
  padding: 10px 20px;
  border-radius: 12px;
  background-color: #2980B1;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.cart-offer__button:focus {
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-color: #EE940F;
}
@media (any-hover: hover) {
  .cart-offer__button:hover {
    background-color: #EE940F;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
}
.cart-offer__button-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* </Form>============================================================================== */
.my-slider {
  width: 100%;
  height: 700px;
}

.my-slider__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.my-slider__prev::after,
.my-slider__next::after {
  color: #000;
  font-size: 35px;
}

.my-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  font-size: 16px;
}

@media (max-width: 480px) {
  .my-slider__prev::after,
.my-slider__next::after {
    display: none;
  }
}
.my-slider__image-2 {
  background-image: url("images/Slide-2_BG.jpg");
  position: relative;
}

.slide__wrapper {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide__wrapper-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.slide__image {
  width: 50%;
}

.slide__content {
  width: 50%;
}

.slide__content-title {
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}
@media (max-width: 1120px) {
  .slide__content-title {
    font-size: calc(35px + 20 * ((100vw - 320px) / 800));
  }
}

.slide__content-subtitle {
  font-size: 35px;
  font-weight: 300;
  max-width: 80%;
}
@media (max-width: 1120px) {
  .slide__content-subtitle {
    font-size: calc(15px + 20 * ((100vw - 320px) / 800));
  }
}

.my-slider__image-1 {
  background-image: url("images/Slide-2_BG.jpg");
  position: relative;
}

.slide-1__decor {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-1__decor-1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}

.slide-1__decor-2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.slide__wrapper-1 {
  position: relative;
  z-index: 2;
}

.slide__image-1 {
  margin-right: 30px;
}

.slide__image-1 img {
  width: 110%;
}

@media (max-width: 1025px) {
  .slide-1__decor-2 {
    top: -30px;
    right: -30px;
  }

  .slide-1__decor-1 {
    bottom: -100px;
    left: -150px;
  }
}
@media (max-width: 769px) {
  .slide-1__decor-2 {
    top: -50px;
    right: -30px;
  }

  .slide-1__decor-1 {
    bottom: -150px;
    left: -200px;
  }

  .slide__image-1 {
    margin-right: 0px;
  }
}
@media (max-width: 675px) {
  .slide__image-1 {
    display: none;
  }

  .slide__content-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-1__decor-2 {
    top: -70px;
    right: -50px;
  }

  .slide-1__decor-1 {
    bottom: -240px;
    left: -260px;
  }
}
@media (max-width: 376px) {
  .slide-1__decor-1 {
    left: -350px;
  }
}
.slide__image-2__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide__image-2 {
  position: absolute;
  width: 50%;
  height: 100%;
}

.slide__image-2__img-1 {
  width: 950px;
  height: 800px;
  position: absolute;
  right: -15px;
  margin-top: -50px;
}

.slide__image-2__img-2 {
  width: 390px;
  position: absolute;
  right: 150px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1070px) {
  .slide__image-2__img-2 {
    right: 100px;
    width: 340px;
  }

  .slide__image-2__img-1 {
    width: 900px;
  }
}
@media (max-width: 875px) {
  .slide__image-2__img-2 {
    left: 0;
    width: 320px;
  }

  .slide__image-2__img-1 {
    height: 700px;
  }

  .slide__content-2 {
    width: 45%;
  }

  .slide__image-2 {
    width: 55%;
  }

  .my-slider,
.slide__wrapper {
    height: 600px;
  }
}
@media (max-width: 740px) {
  .slide__image-2__img-2 {
    display: none;
  }

  .slide__content-2 {
    width: 100%;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  .slide__image-2__img-1 {
    height: 600px;
    width: 700px;
    margin-top: -8px;
    right: -5px;
  }
}
.my-slider__image-3 {
  background-image: url("images/Slide-2_BG.jpg");
  position: relative;
}

.slide-3__decor {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-3__decor img {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.slide__wrapper-3 {
  position: relative;
  z-index: 2;
}

.slide__image-3 {
  margin-right: 30px;
}

.slide__image-3 img {
  width: 110%;
}

.slide__content-3 {
  padding-left: 15px;
}

@media (max-width: 769px) {
  .slide-3__decor img {
    right: -50px;
  }
}
@media (max-width: 675px) {
  .slide__image-3 {
    display: none;
  }

  .slide__content-3 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }

  .slide__content-title {
    text-align: center;
  }

  .slide__content-subtitle {
    text-align: center;
  }
}
.footer {
  background-color: #3c3c3c;
  margin-top: 80px;
}
.footer__body {
  padding-top: 50px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1120px) {
  .footer__body {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .footer__body {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 800));
  }
}
.footer__fst-col {
  margin-right: 60px;
}
@media (max-width: 1120px) {
  .footer__fst-col {
    margin-right: calc(25px + 35 * ((100vw - 320px) / 800));
  }
}
.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-fst__logo {
  margin-bottom: 25px;
}
@media (max-width: 1120px) {
  .footer-fst__logo {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 800));
  }
}
.footer-fst__logo img {
  width: 160px;
}
@media (max-width: 1120px) {
  .footer-fst__logo img {
    width: calc(120px + 40 * ((100vw - 320px) / 800));
  }
}
.footer-fst__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item {
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 30px;
  margin: 0px 10px 0px 10px;
}
@media (any-hover: hover) {
  .footer-social__item:hover {
    color: #EF7B00;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

.footer-columns__col {
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 40px;
}
@media (max-width: 1120px) {
  .footer-columns__col {
    margin-right: calc(15px + 20 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .footer-columns__col {
    margin-left: calc(15px + 20 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 1120px) {
  .footer-columns__col {
    margin-bottom: calc(30px + 10 * ((100vw - 320px) / 800));
  }
}
.footer-col__title {
  font-size: 22px;
  color: #EF7B00;
  font-weight: 800;
  margin-bottom: 20px;
}
@media (max-width: 1120px) {
  .footer-col__title {
    font-size: calc(20px + 2 * ((100vw - 320px) / 800));
  }
}
.footer-col__list-item {
  max-width: 250px;
}
.footer-col__list-item:not(:last-child) {
  margin-bottom: 13px;
}
@media (max-width: 1120px) {
  .footer-col__list-item:not(:last-child) {
    margin-bottom: calc(10px + 3 * ((100vw - 320px) / 800));
  }
}
.footer-col__link {
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 18px;
}
@media (max-width: 1120px) {
  .footer-col__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 800));
  }
}
@media (any-hover: hover) {
  .footer-col__link:hover {
    color: #3992C5;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
}

@media (max-width: 850px) {
  .footer__columns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 600px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__fst-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) and (max-width: 1120px) {
  .footer__fst-col {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 800));
  }
}
@media (max-width: 600px) {
  .footer-fst__logo {
    text-align: center;
  }
}