:root {
    --rgb-white: rgb(255, 255, 255);
    --rgb-orange: #EE940F;
    --rgb-grey: #F0F0F0;
    --rgb-blue: DodgerBlue;
    --shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.catalog {
    display: flex;
    justify-content: space-between;
}

.catalog__sort {
    width: 27%;
}

@media (max-width: 768px) {
    .catalog__sort {
        width: 100%;
        margin-bottom: 30px;
    }

    .catalog {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}

.sort-menu {
    width: 100%;
    padding: 10px 8px;
    box-shadow: var(--shadow);
}

.sort-menu__title {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sort-menu__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: var(--rgb-orange);
    margin-bottom: 15px;
    transition: all .3s ease-in;
}

.sort-menu__button:hover {
    background-color: #5299C1;
    transition: all .3s ease-in;
}

.sort-menu__back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background-color: var(--rgb-grey);
    margin-bottom: 15px;
}

.sort-menu__selects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SelectBox {
    width: 100%;
    margin-bottom: 10px;
}

.sort-menu__price {
    margin-top: 10px;
}

.menu-price__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.menu-price__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-price__elem {
    font-size: 17px;
    font-weight: 400;
}

.menu-price__range input {
    width: 100%;
}

.menu-price__range input[type='range'] {
    /** Палоска пасивная */
    -webkit-appearance: none !important;
    background: #EAEAEA;
    height: 8px;
    border-radius: 5px;
}

.menu-price__range input[type='range']::-webkit-slider-thumb {
    /** Кружок */
    -webkit-appearance: none !important;
    background: var(--rgb-orange);
    height: 25px;
    width: 25px;
    border: 2px solid var(--rgb-white);
    border-radius: 50%;
}

.menu-price__range input[type='range']::-webkit-slider-thumb:active {
    /** При нажатии на полоску => Кружок  */
    background: var(--rgb-blue);
}

/* Хз что за классы */

.LeftBotton {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LeftBotton div {
    width: 90%;
    height: 35px;
    color: var(--rgb-white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rgb-orange);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.LeftBotton div:hover {
    background-color: var(--rgb-blue);
}

/* Хз что за классы */