.theme-switcher {
    padding: 8px 0;
    color: #ddd;
    display: flex;
    justify-content: space-between;
}

.theme-switcher-options * {
    display: inline;
}

.theme-switcher-label {
    color: black;
}

.theme-switcher button {
    color: #333;
    cursor: pointer;
    background: transparent;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    border: 0 none;
    outline: 0 none;
}

.theme-switcher .active {
    font-weight: 600;
    cursor: pointer;
}