.theme-switcher {
    padding: 8px 0;
    color: #ddd;
    display: flex;
    justify-content: space-between;
}

.theme-switcher-options * {
    display: inline;
}

.theme-switcher-label {
    color: black;
}

.theme-switcher button {
    color: #333;
    cursor: pointer;
    background: transparent;
    font-family: 'Helvetica Neue', arial, helvetica, sans-serif;
    font-size: 16px;
    border: 0 none;
    outline: 0 none;
}

.theme-switcher .active {
    font-weight: 600;
    cursor: pointer;
}

/* .footer {
    width: 100%;
    background: #2a2a2a;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 12px;
    color: #fff;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 150ms;
}

.footer a:hover {
    color: #fff;
} */