// $headerHeightPC: 130px;
// $headerHeightPhone: 100px;
// $sliderHeightPC: calc(100vh - $headerHeightPC);
// $sliderHeightPhone: calc(100vh - $headerHeightPhone);

//<Слайдер>==============================================================================

.my-slider {
    width: 100%;
    height: 700px;
}

.my-slider__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.my-slider__prev::after,
.my-slider__next::after {
    color: #000;
    font-size: 35px;
}

.my-slider .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    font-size: 16px;
}

@media (max-width: 480px) {
    .my-slider__prev::after,
    .my-slider__next::after {
        display: none;
    }
}

.my-slider__image-2 {
    background-image: url('images/Slide-2_BG.jpg');
    position: relative;
}

.slide__wrapper {
    height: 700px;
    display: flex;
    align-items: center;
}

.slide__wrapper-2 {
    justify-content: end;
}

.slide__image {
    width: 50%;
}

.slide__content {
    width: 50%;
}

.slide__content-title {
	@include adaptiv-value("font-size", 55, 35, 1);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}

.slide__content-subtitle {
	@include adaptiv-value("font-size", 35, 15, 1);
    font-weight: 300;
	max-width: 80%;
}

// First slide ===========================================================

.my-slider__image-1 {
    background-image: url('images/Slide-2_BG.jpg');
    position: relative;
}

.slide-1__decor {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-1__decor-1 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.slide-1__decor-2 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.slide__wrapper-1 {
    position: relative;
    z-index: 2;
}

.slide__image-1 {
    margin-right: 30px;
}

.slide__image-1 img {
    width: 110%;
}

@media (max-width: 1025px) {
    .slide-1__decor-2 {
        top: -30px;
        right: -30px;
    }

    .slide-1__decor-1 {
        bottom: -100px;
        left: -150px;
    }
}

@media (max-width: 769px) {
    .slide-1__decor-2 {
        top: -50px;
        right: -30px;
    }

    .slide-1__decor-1 {
        bottom: -150px;
        left: -200px;
    }

    .slide__image-1 {
        margin-right: 0px;
    }

    .my-slider {
        height: 700px;
    }

    .slide__wrapper {
        height: 700px;
    }
}

@media (max-width: 675px) {
    .slide__image-1 {
        display: none;
    }

    .slide__content-1 {
        width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
    }

    .slide-1__decor-2 {
        top: -70px;
        right: -50px;
    }

    .slide-1__decor-1 {
        bottom: -240px;
        left: -260px;
    }
}

@media (max-width: 376px) {
    .slide-1__decor-1 {
        left: -350px;
    }
}

// ===========================================================

// Second slide ===========================================================

.slide__image-2__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide__image-2 {
    position: absolute;
    width: 50%;
    height: 100%;
}

.slide__image-2__img-1 {
    width: 950px;
    height: 800px;
    position: absolute;
    right: -15px;
    margin-top: -50px;
}

.slide__image-2__img-2 {
    width: 390px;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 1070px) {
    .slide__image-2__img-2 {
        right: 100px;
        width: 340px;
    }

    .slide__image-2__img-1 {
        width: 900px;
    }
}

@media (max-width: 875px) {
    .slide__image-2__img-2 {
        left: 0;
        width: 320px;
    }

    .slide__image-2__img-1 {
        height: 700px;
    }

    .slide__content-2 {
        width: 45%;
    }

    .slide__image-2 {
        width: 55%;
    }

    .my-slider,
    .slide__wrapper {
        height: 600px;
    }
}

@media (max-width: 740px) {
    .slide__image-2__img-2 {
        display: none;
    }

    .slide__content-2 {
        width: 100%;
        z-index: 4;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .slide__image-2__img-1 {
        height: 700px;
        width: 700px;
        margin-top: -8px;
        right: -5px;
    }
}

// ===========================================================

// Third slide ===========================================================

.my-slider__image-3 {
    background-image: url('images/Slide-2_BG.jpg');
    position: relative;
}

.slide-3__decor {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide-3__decor img {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.slide__wrapper-3 {
    position: relative;
    z-index: 2;
}

.slide__image-3 {
    margin-right: 30px;
}

.slide__image-3 img {
    width: 110%;
}

.slide__content-3 {
    padding-left: 15px;
}

@media (max-width: 769px) {
    .slide-3__decor img {
        right: -50px;
    }
}

@media (max-width: 675px) {
    .slide__image-3 {
        display: none;
    }

    .slide__content-3 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
    }

    .slide__content-title {
        text-align: center;
    }

    .slide__content-subtitle {
        text-align: center;
    }

}

//</Слайдер>==============================================================================