//<ПЕРЕМЕННЫЕ>==============================================================================

$maxWidth: 1920px;
$minWidth: 320px;
$containerWidth: 1120;
$md1: $containerWidth;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$burgerStartWidth: 855px;
$fontFamily: "Noto Sans", sans-serif;
$fz: 16;
$fontSize: $fz + px;
$textColor: #000000;
$bgColor: #fff;
$orangeColor: #EF7B00;
$orangeLightColor: #EE940F;
$blueColor: #3992C5;
$darkBlueColor: #2980B1;
$shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
$shadow2: 0px 0px 15px rgba(0, 0, 0, 0.15);

//<ПЕРЕМЕННЫЕ>==============================================================================