//<ИМПОРТЫ>==============================================================================

//<Обнуление>==============================================================================
@import 'null';
//</Обнуление>==============================================================================

//<Шрифты>==============================================================================
@import 'fonts';
//</Шрифты>==============================================================================

//<Общие стили>==============================================================================
@import 'common';
//</Общие стили>==============================================================================

// <Popup>==============================================================================
@import 'popup';
// </Popup>==============================================================================

//<ПЕРЕМЕННЫЕ>==============================================================================
@import 'variables';
//</ПЕРЕМЕННЫЕ>==============================================================================

//<Миксины>==============================================================================
@import 'mixins';
//</Миксины>==============================================================================

//</ИМПОРТЫ>==============================================================================

//<Общие свойства>==============================================================================
// ==============================================================================
// ==============================================================================

@import 'header';
@import 'shopping-cart';
@import 'footer';

.contacts {

    // .contacts__body
    &__body {
        margin-top: 100px;
    }

    // .contacts__title
    &__title {
        @extend .sub-title;
        text-align: center;
        margin-bottom: 80px;
    }

    // .contacts__items
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include adaptiv-value("margin-bottom", 50, 30, 1);
    }

    // .contacts__item
    &__item {
        &:not(:last-child) {
            margin-right: 15px;
            @include adaptiv-value("margin-bottom", 50, 30, 1);
        }
    }

    // .contacts__map
    &__map {
        max-width: 100%;
        min-height: 450px;
        max-height: 600px;
        box-shadow: $shadow;
    }
}
.contacts-item {

    // .contacts-item__title
    &__title {
        @extend .sub-title-grey;
        margin-bottom: 10px;
    }

    // .contacts-item__li
    &__li {
        color: #000;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: 10px;
    }

    // .contacts-item__li a
    &__li a {
        color: #000;
        transition: all .3s ease-in;

        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
}

@media (max-width: $md4) {
    .contacts__items {
        flex-direction: column;
    }

    .contacts__item {
        margin-right: 0px;
    }
}
