*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 16px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* <Обнуление>============================================================================== */

/* </Обнуление>============================================================================== */

body {
    background-color: #333;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    padding: 30px 15px;
}

.form * {
    outline: none;
}

.form__body {
    position: relative;
}

.form__body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in;
    background-color: #ffffffc2;
}

.form__body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: transform(-50%, -50%);
    z-index: 999;

    width: 50px;
    height: 50px;

    opacity: 0;
    visibility: hidden;

    border: 8px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading .8s linear infinite;
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form__body._sending::before {
    opacity: 1;
    visibility: visible;
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.form__item {
    margin-bottom: 30px;
}

.form__label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}

.form__input {
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.form__input._error {
    box-shadow: 0 0 10px red;
} 

.form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    background-color: #90c49c;
    font-size: 18px;
    font-weight: 700;

}